    <img mat-card-image src="assets/photo-markus.jpg">

  <section>
    <span>Welcome to my website!</span>
    <span>My name is Markus Lehr and I am a Software Engineer at <a href="https://www.finangel.at/" target="_blank">finAngel</a>.</span>
    <br>
    <h2>Who am I?</h2>
    <span>I am a former Software Engineering Student from the Technical University of Vienna (TU Wien for short), where I finished my Master's degree in 2020.</span>
    <span>Although it's not what I'm doing anymore, you can find a technical report on my thesis' topic on <a
      href="https://arxiv.org/abs/2005.09521" target="_blank">arxiv</a> and a paper, published in <a
      href="https://ieeexplore.ieee.org/document/9229644" target="_blank">IEEE Cluster 2020</a>.</span>
    <br>
    <span>For a few years during my studies, I was a Software Engineering Tutor for some Bachelor and Master courses, which is why I have my passion: <em>useless and soon-to-be-abandoned projects</em>.</span>

    <br>
    <h2>What do I do?</h2>
    <span>The previous statement (about useless projects) is only partially true. I love exploring new or unknown technologies, ranging from web-stacks to computer graphics and game engines.</span>
    <span>Sure, you can check out my <a href="https://github.com/Markus-Lehr" target="_blank">unremarkable GitHub portfolio</a>, but you will probably not find anything of interest to you.</span>
    <br>
    <span>I am currently not interested in any (job) offers, but you can contact me at privat(at]markus-lehr.at.<br> (substitute the (at] with the actual @ symbol - this is done so that bots are not as likely to spam this email address) </span>
  </section>
